.container {
    width: 1040px;
    margin: 0 auto;
}


/* first page */

.container-first {
    position: relative;
    width: 1040px;
    height: 655px;
    top: 50px;
    margin: 0 auto;
}

.blackBlock {
    width: 1040px;
    height: 552px;
    background-color: rgb(50, 50, 50);
}

.container-first img {
    position: absolute;
    width: 14px;
    height: 17px;
    left: 50px;
    top: 48px;
}

.brands {
    position: absolute;
    width: 900px;
    height: 103px;
    left: 50px;
    top: 370px;
    background-color: rgb(61, 61, 62);
    display: flex;
}

.brands img {
    position: relative;
    width: 98px;
    height: 16px;
}

.item {
    margin-right: 42px;
}

.white-block {
    position: absolute;
    width: 348px;
    height: 414px;
    left: 766px;
    top: 239px;
    background-color: rgb(255, 255, 255);
}

.vertical-line-first {
    position: absolute;
    width: 4px;
    height: 103px;
    left: 45px;
    top: 370px;
    background: #242BE5;
}

.vertical-line-second {
    position: absolute;
    width: 4px;
    height: 103px;
    left: 150px;
    top: 130px;
    background: #242BE5;
}

@media(max-width:500px) {
    .container-first {
        top: 0px;
        height: 550px;
    }
}


/* second page */

.container-second {
    position: relative;
    width: 1040px;
    margin: 0 auto;
    left: 50px;
}

.goods {
    display: flex;
}

.icon {
    margin-right: 79px;
    margin-left: 79px;
}

.blue {
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
}

.line {
    display: block;
    height: 141px;
    left: 157px;
    top: 0px;
    background: rgba(0, 0, 0, 0.0001);
    mix-blend-mode: normal;
    opacity: 0.1;
    border: 1px solid #182353;
}

.circle {
    position: relative;
    width: 20px;
    height: 21px;
    left: 7px;
    top: 70px;
}

.horizontal-line {
    display: none;
    width: 400px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.0001);
    mix-blend-mode: normal;
    opacity: 0.3;
    border: 1px solid #6A7987;
    box-sizing: border-box;
}

@media(max-width:500px) {
    .container-second {
        margin-top: 50px;
    }
    .goods {
        display: block;
    }
    .icon {
        display: flex;
        margin-right: 0px;
        margin-left: 10px;
    }
    .circle {
        left: 330px;
        top: 5px;
    }
    .line {
        display: none;
    }
    .horizontal-line {
        display: block;
        margin-bottom: 20px;
    }
    .container-second {
        left: 40px;
    }
}


/* third page */

.container-third {
    position: relative;
    width: 1040px;
    height: 661px;
    margin: 0 auto;
    top: 50px;
    background-color: rgb(24, 35, 83);
    display: flex;
}

.container-inside {
    margin-left: 20px;
    position: absolute;
}

.first {
    position: absolute;
    width: 438px;
    height: 446px;
    left: 50px;
    top: 170px;
    background-color: rgb(36, 43, 229);
}

.second {
    position: absolute;
    width: 438px;
    height: 428px;
    left: 510px;
    top: 100px;
    background-color: rgb(36, 43, 229);
}

.white {
    position: absolute;
    width: 208px;
    height: 101px;
    left: 50px;
    top: 24px;
    background-color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.98;
    box-shadow: 0px 2px 40px rgba(24, 35, 83, 0.15);
    border-radius: 5px;
}

.first .circle {
    position: absolute;
    width: 100px;
    border-radius: 100px;
    height: 100px;
    left: 27px;
    top: 31px;
    background-color: #ffffff;
}

.second .circle {
    position: absolute;
    width: 100px;
    border-radius: 100px;
    height: 100px;
    left: 27px;
    top: 30px;
    background-color: #ffffff;
}

.dark-blue {
    position: absolute;
    width: 372px;
    height: 316px;
    left: 100px;
    top: 140px;
    background: #0006A3;
    mix-blend-mode: normal;
    opacity: 0.4;
}

@media(max-width:500px) {
    .container-third {
        display: block;
        width: 400px;
        height: 1100px;
        margin-bottom: 50px;
        margin: 0;
        margin-left: 40px;
    }
    .first {
        width: 320px;
        left: 20px;
    }
    .second {
        left: 20px;
        top: 650px;
        width: 320px;
    }
    .dark-blue {
        width: 372px;
        opacity: 0;
    }
}


/* fourth page */

.container-fourth {
    position: relative;
    display: flex;
    width: 1040px;
    margin: 0 auto;
    margin-top: 50px;
}

.left-arrow {
    position: absolute;
    width: 33px;
    height: 103px;
    top: 150px;
    background-color: rgb(36, 43, 229);
}

.white-block-first,
.white-block-second {
    width: 300px;
    position: relative;
    height: 340px;
    left: 52px;
    top: 56px;
    background: rgba(0, 0, 0, 0.0001);
    mix-blend-mode: normal;
    border: 1px solid #6a7987;
    box-sizing: border-box;
    margin-right: 19px;
    display: block;
}

.white-block-third {
    width: 300px;
    position: relative;
    height: 340px;
    left: 52px;
    top: 56px;
    background: rgba(0, 0, 0, 0.0001);
    mix-blend-mode: normal;
    border: 1px solid #6a7987;
    box-sizing: border-box;
    display: block;
}

.left-arrow img {
    position: absolute;
    width: 10px;
    height: 12px;
    left: 12px;
    top: 46px;
}

.right-arrow {
    position: absolute;
    width: 33px;
    height: 103px;
    top: 150px;
    right: 0;
    background-color: rgb(36, 43, 229);
}

.right-arrow img {
    position: absolute;
    width: 10px;
    height: 12px;
    left: 12px;
    top: 46px;
}

.blue-block {
    position: absolute;
    width: 100px;
    height: 38px;
    left: 100px;
    top: 260px;
    background-color: rgb(36, 43, 229);
}

@media(max-width:500px) {
    .container-fourth {
        margin-left: 40px;
    }
    .white-block-second,
    .white-block-third {
        display: none;
    }
    .white-block-first,
    .white-block-second,
    .white-block-third {
        margin-left: 0px;
    }
    .right-arrow {
        position: relative;
        left: 50px;
    }
}


/* fifth page */

.container-fifth {
    position: relative;
    width: 1040px;
    height: 636px;
    top: 100px;
    margin: 0 auto;
    background-color: rgb(50, 50, 50);
    margin-bottom: 50px;
}

.container-fifth .white {
    position: absolute;
    width: 940px;
    height: 320px;
    left: 50px;
    top: 250px;
    background-color: rgb(255, 255, 255);
}

.container-fifth .brand {
    position: relative;
    display: flex;
    left: 70px;
}

.container-fifth .items {
    width: 169px;
    height: 79px;
    margin-top: 120px;
    margin-right: 10px;
    background-color: rgb(60, 60, 60);
}