.container {
  position: relative;
  display: flex;
  width: 993px;
  height: 397px;
  margin: 0 auto;
  margin-top: 100px;
}

.white-block {
  width: 300px;
  height: 340px;
  left: 52px;
  top: 56px;
  background: rgba(0, 0, 0, 0.0001);
  mix-blend-mode: normal;
  opacity: 0.3;
  border: 1px solid #6a7987;
  box-sizing: border-box;
  margin-right: 19px;
  margin-left: 20px;
}

.left-arrow {
  position: relative;
  width: 33px;
  height: 103px;
  margin-top: 100px;
  background-color: rgb(36, 43, 229);
}

.left-arrow img {
  position: absolute;
  width: 10px;
  height: 12px;
  left: 12px;
  top: 46px;
}

.right-arrow {
  position: absolute;
  width: 33px;
  height: 103px;
  left: 1000px;
  margin-top: 100px;
  background-color: rgb(36, 43, 229);
}

.right-arrow img {
  position: absolute;
  width: 10px;
  height: 12px;
  left: 12px;
  top: 46px;
}
