.container {
    position: relative;
    display: flex;
    width: 1050px;
    margin: 0 auto;
}

.left-arrow {
    position: absolute;
    width: 33px;
    height: 103px;
    top: 150px;
    background-color: rgb(36, 43, 229);
}

.white-block-first,
.white-block-second,
.white-block-third {
    width: 300px;
    position: relative;
    height: 340px;
    left: 52px;
    top: 56px;
    background: rgba(0, 0, 0, 0.0001);
    mix-blend-mode: normal;
    border: 1px solid #6a7987;
    box-sizing: border-box;
    margin-right: 19px;
    display: block;
}

.left-arrow img {
    position: absolute;
    width: 10px;
    height: 12px;
    left: 12px;
    top: 46px;
}

.right-arrow {
    position: absolute;
    width: 33px;
    height: 103px;
    top: 150px;
    right: 0;
    background-color: rgb(36, 43, 229);
}

.right-arrow img {
    position: absolute;
    width: 10px;
    height: 12px;
    left: 12px;
    top: 46px;
}

.blue-block {
    position: absolute;
    width: 100px;
    height: 38px;
    left: 100px;
    top: 260px;
    background-color: rgb(36, 43, 229);
}

@media(max-width:500px) {
    .container {
        margin-left: 40px;
    }
    .white-block-second,
    .white-block-third {
        display: none;
    }
    .white-block-first,
    .white-block-second,
    .white-block-third {
        margin-left: 0px;
    }
    .right-arrow {
        position: relative;
        left: 50px;
    }
}