.container {
    position: relative;
    width: 1114px;
    height: 655px;
    top: 100px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
}

.black-block {
    width: 992px;
    height: 552px;
    background-color: rgb(50, 50, 50);
}

.container img {
    position: absolute;
    width: 14px;
    height: 17px;
    left: 50px;
    top: 48px;
}

.brands {
    position: absolute;
    width: 900px;
    height: 103px;
    left: 50px;
    top: 370px;
    background-color: rgb(61, 61, 62);
    display: flex;
}

.brands img {
    position: relative;
    width: 98px;
    height: 16px;
}

.item {
    margin-right: 42px;
}

.white-block {
    position: absolute;
    width: 348px;
    height: 414px;
    left: 766px;
    top: 239px;
    background-color: rgb(255, 255, 255);
}

.vertical-line-first {
    position: absolute;
    width: 4px;
    height: 103px;
    left: 45px;
    top: 370px;
    background: #242BE5;
}

.vertical-line-second {
    position: absolute;
    width: 4px;
    height: 103px;
    left: 150px;
    top: 130px;
    background: #242BE5;
}