.container {
  position: relative;
  width: 988px;
  height: 636px;
  top: 100px;
  margin: 0 auto;
  background-color: rgb(50, 50, 50);
}

.white {
  position: absolute;
  width: 892px;
  height: 320px;
  left: 50px;
  top: 250px;
  background-color: rgb(255, 255, 255);
}

.brands {
  position: relative;
  display: flex;
  margin-left: 50px;
}

.items {
  width: 169px;
  height: 79px;
  margin-top: 120px;
  margin-right: 10px;
  background-color: rgb(60, 60, 60);
}
