.container {
    width: 988px;
    height: 661px;
    margin: 0 auto;
    margin-top: 100px;
}

.goods {
    display: flex;
    width: 4px;
    height: 141px;
    left: 749px;
    background: rgba(0, 0, 0, 0.0001);
}

.icon {
    margin-right: 79px;
    margin-left: 79px;
}

.blue {
    width: 37px;
    height: 38px;
    left: 41px;
    top: 2px;
}

.line {
    width: 4px;
    height: 141px;
    left: 157px;
    top: 0px;
    background: rgba(0, 0, 0, 0.0001);
    mix-blend-mode: normal;
    opacity: 0.1;
    border: 1px solid #182353;
}

.circle {
    position: relative;
    width: 20px;
    height: 21px;
    left: 10px;
    top: 80px;
}